form/ballot/src/.env
form/ballot/src/config/
form/ballot/src/storage/
form/ballot/src/vendor/
form/componentX/src/.env
form/componentX/src/config/
form/componentX/src/storage/
form/componentX/src/vendor/
form/encryptor/src/.env
form/encryptor/src/config/
form/encryptor/src/storage/
form/encryptor/src/vendor/
form/form/src/.env
form/form/src/config/
form/form/src/storage/
form/form/src/vendor/

blockchain/*/Cargo.lock
